.site-hero {
  padding-top: 153px;
  padding-bottom: 238px;
  background-image: url("../img/animals.png"), url("../img/ara.png");
  background-repeat: no-repeat;
  background-size: contain, 419px 600px;
  background-position: calc(50% - 495px) calc(50% - 80px), calc(50% + 720px) calc(50% + 320px);
}


.site-hero__contact{
  width: 608px;
  margin-left: auto;
}

.site-hero__heading {
  font-weight: 700;
  font-size: 70px;
  line-height: 64px;
  color: #333333;
  margin-bottom: 29px;
}

.site-hero__span {
  color: #78C0DE;
}

.site-hero__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #949494;
  margin-bottom: 38px;
}

.site-hero__link {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  background: #333333;
  border-radius: 3px;
  padding: 15px 48px;
  
  &:hover{
    background: rgba(51, 51, 51, 0.8);
  }
  
  &:active{
    background: rgba(51, 51, 51, 0.6);
  }
}

@media only screen and (max-width:1050px) {
  .site-hero__heading {
    font-weight: 600;
    font-size: 60px;
    line-height: 60px;
  }

  .site-hero__contact{
    width: 525px;
  }

  .site-hero__link {
    font-size: 15px;
    line-height: 18px;
    padding: 12px 45px;
  }


  .site-hero {
    padding-top: 144px;
    padding-bottom: 225px;
    background-position: calc(50% - 423px) calc(50% - 72px), calc(50% + 720px) calc(50% + 320px);
  }
}

@media only screen and (max-width:980px) {
  .site-hero__heading {
    font-weight: 600;
    font-size: 50px;
    line-height: 50px;
  }
  .site-hero__contact{
    width: 490px;
  }

  .site-hero__link {
    font-size: 13px;
    line-height: 16px;
    padding: 11px 42px;
  }
  .site-hero__text {
    font-size: 14px;
    line-height: 20px;
  }
}

